*{
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
  line-height: 22px;
  
}

h2 {
    font-size: 22px;
    line-height: 22px;
    margin: 5px 0;
    }

.cards {
  background: #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
   
}

.card {
 display: flex;
 background-color: #fff;
 margin-bottom: 10px;
 max-width: 470px;
 max-height: 300px;
 border: 2px #aaa solid;
 border-radius: 5px;
 overflow-wrap: break-word;
 flex-direction: column;
 overflow: auto;
 padding: 10px;  
}

.card-container{
    display: flex;
    overflow: scroll;
  }
  .card-container-p {
    overflow: auto;
  }


.card-img>img {
     width: 150px;
}
.card>ul{
    list-style: none;
    margin: 1px;
    padding-top: 1px;
    align-items: flex-end; 
}
li{
    display: inline-flex;
    font-weight: bold;
   
  }